p#data {
  color: red;
}

html {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
}

span.current-class {
  color: #bd0413;
  font-size: 140px;
  vertical-align: center;
  font-family: Arial;
}

span.next-class {
  color: #008420;
  font-size: 140px;
  text-align: center;
  font-family: Arial;
}


.row {
  float: left;
  color: white;
  padding: 2.75%;
  width: 100%;
  height: 17.5%;
  font-family: Helvetica;
  font-size: 100px;
  background-color: #012031;
}

.row#active {
  background-color: white !important;
  color: #012031 !important;

}

.subject {
  float: left;
}

.room {
  float: right;
}
