p#data {
  color: red;
}

html {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
}



.row {
  float: left;
  color: #f7f7f7;
  padding: 2.75%;
  width: 100%;
  height: 17.5%;
  font-family: 'Open Sans';
  font-size: 120px;
  background-color: #2B2B2B;
}

.row#active {
  background-color: #f7f7f7 !important;
  color: #2B2B2B !important;

}

.subject {
  margin-top: 30px;
  float: left;
}

.room {
  margin-top: 30px;
  float: right;
}
